.maze {
  height: 50vw;
  width: 50vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: solid black;
}

.maze-row {
  display: flex;
  flex-grow: 1;
}

.cell {
  flex-grow: 1;
  border: 1px solid black;
}

.cell-black {
  background-color: black;
}

.border-top-black {
  border-top-color: black;
}

.border-top-white {
  /*border-top-color: white;*/
  border-top: none;
  margin-top: -1px;
  padding-top: 2px;
}

.border-right-black {
  border-right-color: black;
}

.border-right-white {
  /*border-right-color: white;*/
  border-right: none;
  margin-right: -1px;
  padding-right: 2px;
}

.border-bottom-black {
  border-bottom-color: black;
}

.border-bottom-white {
  /*border-bottom-color: white;*/
  border-bottom: none;
  margin-bottom: -1px;
  padding-bottom: 2px;
}

.border-left-black {
  border-left-color: black;
}

.border-left-white {
  /*border-left-color: white;*/
  border-left: none;
  margin-left: -1px;
  padding-left: 2px;
}
